a{
    color: black;
    
}

body{
    background:rgb(252, 255, 47) ;
    padding: 0px,20px;
}
h1,h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display:inline-block;
}
