* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7f7f7;
  height: 1400px;
  margin: 0px;
}

.titulo {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.bar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.bar a {
  display: inline-block;
  margin-left: 10px;
  color: #000;
  text-decoration: none;
  background-color: #fff;
  padding: 10px;
}

.grid {
  margin: 50px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 700px 700px;
  justify-content: center;
}

.item-1 {
  padding: 30px;
  background-color: #fff;
  border-radius: 8px 0px 0px 8px;
}

.item-1 a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
  color: #fff;
  background-color: #e21;
  height: 40px;
  width: 150px;
}

.ver-mais {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}

.item-1 h2,
.p-2 {
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.item-1 h2 {
  padding: 10px;
}

.item-2 {
  background-color: #f7f7f7;
  border: 1px solid black;
}

p {
  color: #000;
}

.item-3 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  border: none;
  background-color: transparent;
  color: #00000054;
  padding: 25px;
  height: 600px;
}

.item-3 {
  max-width: 100%;
}

.item-4 {
  padding: 50px;
  background-color: #fff;
  height: 600px;
}

.item-4 p,
h3 {
  margin: 0px;
}

.div-grid {
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-left: 50px;
  display: grid;
  grid-template-columns: auto 400px;
  gap: 10px;
}

.div-grid img {
  display: block;
  object-fit: cover;
  border-radius: 50%;
  height: 20px;
  width: 30px;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.img {
  width: 20px;
  height: 10px;
  object-fit: cover;
}

.a-3 {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
  border-radius: 4px;
}

.a-3 a {
  height: 40px;
  width: 150px;
  border-radius: 4px;
  background-color: #e21;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
}

.footer {
  padding: 0;
  padding-top: 70px;
}

footer {
  padding: 20px;
  background-color: #fff;
}

.marca {
  display: flex;
  justify-content: center;
}

.marca h2 {
  color: #000000a1;
}

.info-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 15px;
  margin-top: 30px;
}

.info-footer a {
  color: #00000065;
  text-decoration: none;
}

.direitos-autorais {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}