.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline greenyellow;
}
.estrutura{
    box-sizing: border-box;
    margin: 45px;
}
.preços{
    height: 150px;
    width: 700px;
    background-color: rgba(0, 0, 0, 0.726);
}

button a{
    color: white;
    text-decoration: none;

}
button{
    background-color: orange;
    width: 100px;
    height: 25px;
}

b{
    color: greenyellow;
}
h2{
    color: aliceblue;
    padding: 10px;
}
p{
    color: rgba(36, 35, 35, 0.849);
}