body{
    margin: 15px;
}

li a{
    color: black;
    text-decoration: none;
}

.menu-left{
    display: flex;

}

a img{
    border: 2px solid black;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.sobreosite{
    display: flex;
    background-color: aqua;
    padding: 10px;
}

img{
    width: 300px;
    height: 300px;
    border: 2px solid black;
}